footer {
    padding: 50px 0;
  }
  .copyright {
    padding-top: 20px;
  }
  .copyright p {
    margin: 0;
    color: #74808a;
  }
  .top {
    text-align: center;
  }
  .top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
  }
  .top i {
    color: #74808a;
  }
  .social {
    text-align: right;
  }
  .social ul {
    margin: 5px 0 0 0;
    padding: 0;
  }
  .social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
  }
  .social a {
    display: block;
    color: #74808a;
    padding: 10px;
  }
  .social a:hover {
    color: #3498db;
  }
  #contact {
    padding: 50px 15px;
    text-align: center;
  }
  #contact h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
  }
  #contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
  #contact-form input, #contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #1d6fa5;
    color: #fff;
    transition: 0.5s ease all;
  }
  #contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
    color: #fff;
  }
  #contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  #contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  #contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
    color: #fff;
  }
  #contact-form input:focus, #contact-form textarea:focus {
    outline: none;
    background: #16527a;
  }
  #contact-form textarea {
    height: 150px;
    resize: none;
  }
  #contact-form button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
  }
  #contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  